@import "tailwindcss";

@theme {
  --color-primary: #000080;
  --color-background-light: #f5f5f8;
  --color-background-dark: #0f0f23;
  --color-emerald-success: #10b981;
  --color-success: #10b981;

  --font-display: "Inter", sans-serif;
}

@keyframes scan {
  0%,
  100% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(120px);
  }
}

.animate-scan {
  animation: scan 3s ease-in-out infinite;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.blur-document {
  filter: blur(2px);
  transition: filter 0.5s ease;
}
